/* work thing css*/

header,
body {
  font-family: 'Avenir', sans-serif;
}

header {
  background-color: #00335B;
  color: #FFFFFF;
}

body {
  background-color: #FFFFFF;
  color: #0F0F0F;
  overflow-x: hidden;
  margin-bottom: 5em;
}

p {
  font-size: 20px;
  margin-left: 2em;
  margin-right: 2em;
}

.links ul,
.links li {
  margin-left: 4em;
}

.titledoc {
  padding: 2em;
  padding-bottom: 0;
}

.row h2 {
  margin-top: 1em;
}

header {
  padding: 2em;
}

div.row {
  margin-left: 2em;
  margin-right: 2em;
}

li {
  font-size: 20px;
}

ul {
  line-height: 1.5;
}

a {
  color: #0079C8;
}

.navbar {
  display: block;
  padding-bottom: 2.5em;
}

.navbar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  position: relative;
}

.navbar a:hover {
  background-color: #778B9B;
  border-radius: 12px;
}
